<div class="header">
  <div class="logo">
    <a><img src="assets/TacoCloud.png"/></a>
  </div>
  <div class="topbar">
    <div class="topbaritem" style="font-size: 17pt;">
      <a class="plainlink caps">Design a Taco</a>
    </div>
    <div class="topbaritem">
      <a href="login" class="plainlink">
        <img
          src="assets/down-triangle.png"
          style="float:right;margin-right:15px;margin-top:12px;"
          alt=""
        />
        <span class="caps small">Sign in</span><br/>
        <span class="smaller">or Create an Account</span>
      </a>
    </div>

    <div class="topbaritem" style="font-size: 17pt;">
      <a href="" class="planlink">
        <img align="center" src="assets/cart.png"/>
        Cart
      </a>
    </div>
  </div>
  <div class="bottombar">
    <div class="bottombaritems">
      <div class="bottombaritem">
        <a [routerLink]="['recents']" class="plainlink">Latest designs</a>
      </div>
      <div class="bottombaritem">
        <a href="" class="plainlink">Specials</a>
      </div>
      <div class="bottombaritem">
        <a href="" class="plainlink">Locations</a>
      </div>
    </div>
  </div>
</div>
